html,
body {
  background-color: antiquewhite;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

header {
  padding: 1rem;
  background-color: beige;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;

  a {
    color: goldenrod;
    text-decoration: none;
    transition: 0.5s all;

    &:hover {
      transform: rotate(10deg);
    }
  }
}

* {
  box-sizing: border-box;
}
